  .card-title {
    color:#28c423;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
  }

  .card-header {
    color:#010101;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
  }

  .card-body {
    color:#ffffff;
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background: #000000; /* Цвет фона */
    border: 1px double black; /* Параметры границы */
  }

  .form-button {
    color: white;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    border-radius: 0px;
  }


  footer {
    padding-top: 450px;
    padding-bottom: 1050px;
    text-align: center;
}

footer .links {
    margin-bottom: 50px;
}

footer .links > a {
    color: #17191a;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.copyright {
    color: rgb(108,117,125);
    font-family: 'Times New Roman', Times, serif;
}